body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 100%;
    font-family: 'Playfair Display' !important;
}

h1,
h2,
h3,
h4,
h5,
h5,
span a,
p,
button {
    font-family: 'Playfair Display' !important;
}

.footer {
    background: #192184;
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.top-home-icons {
    top: 0 !important;
    right: 0 !important;
    width: 100%;
    border-bottom: 1px solid #192184;
    padding: 2px 0;
    background: #192184;
}
.common-heading img{
    width: 100% !important;
    height: 30px !important;
}
.t-c a{
    color: #ffffff;
    font-size: 12px;
}
.p-p a {
    color: #ffffff;
    font-size: 12px;
}
/* add member */
.inner-div {
    width: 60%;
    text-align: center;
    padding: 30px 10px;
    /* height: 100vh; */
}

.inner-div .text-blue h1 {
    font-weight: 600;
    font-size: 40px;
    font-family: 'Playfair Display Black' !important;
}

.main-div {
    height: 100%;
    width: 100%;
}

.or {
    padding: 15px;
    text-align: center;
}

.active {
    background-color: #ffd101;
    color: #0116b8;
}

.inactive {
    background-color: #f5f5f5;
}

.tab {
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-group input[type=checkbox]:checked {
    accent-color: #081466;
    color: green;
}

.input-group {
    text-align: center;
}

.input-group input {
    padding: 15px 20px;
    margin: 0 5px;
    margin: 7px;
    border-radius: 50px;
    background-color: #f5f5f5;
    outline: 0;
    border: 0;
    color: #bfbfbf;
}

.input-group .relation-div {
    padding: 15px 0;
    margin: 0 5px;
    margin: 7px;
    border-radius: 50px;
    background-color: #f5f5f5;
    outline: 0;
    border: 0;
    width: 100%;
    color: #bababa;
    text-align: center;
}

.input-group select {
    background: none;
    border: 0;
    color: #bfbfbf;
    width: 120px;
    outline: 0;
}

.input-group select option {
    background-color: #f4f4f4;
}

.input-group select option:hover {
    color: #081466;
    background-color: #eec93a !important;
}


.input-group input::placeholder {
    text-align: center;
    color: #bababa;
    font-family: 'Playfair Display' !important;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.btn-div button {
    padding: 15px 50px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    background-image: linear-gradient(to right, #0512B9 0%, #081466 100%);
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Playfair Display' !important;
    font-weight: 700;
}

.text-blue {
    color: #0512B9;

}

.blue-t-top-left {
    position: absolute;
    top: 0;
    left: 30px;
    height: 100px;
    z-index: -1;
}

.blue-t-top-right {
    position: absolute;
    top: 0;
    right: 20%;
    height: 50px;
    z-index: -1;
}

.blue-t-right {
    position: absolute;
    top: 30%;
    right: 0;
    height: 200px;
    z-index: -1;
}

.blue-t-bottom-left {
    position: absolute;
    height: 150px;
    bottom: 60px;
    z-index: -1;
}

.blue-t-bottom-right {
    position: absolute;
    left: 60%;
    bottom: 0;
    height: 100px;
    z-index: -1;
}

.home-icon-top-right {
    position: absolute;
    top: 10px;
    right: 2%;
    width: 25px;
}

.plus-bottom-right {
    position: absolute;
    bottom: 0;
    right: 10%;
    height: 300px;
    z-index: -1;
}

.plus-top-left {
    position: absolute;
    top: 0;
    left: 0%;
    height: 300px;
    z-index: -1;
}

#selected,
#not-selected {
    cursor: pointer;
}
.submit-btn:active {
    background: transparent;
    color: #081466;
    border: 1px solid #081466;
}
/* avatar */
.avatar {
    background-color: #f4f4f4;
}

.avatar .main-div .row {
    width: 100%;
    margin: 0;
}

.avatar .blue-t-top-left {
    position: absolute;
    top: 0;
    left: 20%;
    height: 100px;
    z-index: -1;
}

.avatar .blue-t-top-right {
    position: absolute;
    top: 0;
    right: 20%;
    height: 80px;
    z-index: -1;
}

.avatar .blue-t-bottom-left {
    position: absolute;
    bottom: 0;
    height: 50px;
    left: 5%;
    z-index: -1;
}

.avatar .blue-t-bottom-right {
    position: absolute;
    right: 5%;
    bottom: 0;
    height: 100px;
    z-index: -1;
}

.avatar .circle-line {
    position: relative;
    right: 0;
    height: 470px;
    z-index: -1;
}

.w-60 {
    width: 60%;
}

.h-75 {
    height: 75px;
}

.avatar .plus-icon {
    position: relative;
    top: 58%;
    cursor: pointer;
    margin-right: 45px;
    z-index: 999;
}

.avatar .add-report-txt {
    position: relative;
    left: 150px;
    height: 70px;
    bottom: 150px;
}

.menu-div .inner-menu-div {
    text-align: end;

}

.avatar .top-home-icons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.top-home-icons img {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

.avatar .avatar-img {
    height: 350px;
    margin-bottom: 50px;
    /* margin-right: -50px; */
}

ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
    color: #447df0;
}

ul .plus {
    font-size: 30px;
}

ul .plus-value {
    font-size: 30px;
    color: #eec93a;
}

.avatar .inner-menu-div {
    /* padding-top: 20px; */
    height: 480px;
    margin-top: -40px;
}

.avatar .inner-menu-div .menu-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #447df0;
    color: #ffffff;
    text-align: center;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.avatar .inner-menu-div .menu-circle:hover {
    height: 55px;
    width: 55px;
    background: #eec93a;
}

.avatar .inner-menu-div .menu-circle:hover img {
    filter: brightness(0.5) saturate(0%);
}

.avatar .inner-menu-div .menu-circle img {
    height: 35px;
}

.avatar .inner-menu-div .lab-report {
    position: relative;
    bottom: 500px;
    left: 80px;
}

.avatar .inner-menu-div .medication-prescription {
    position: relative;
    bottom: 540px;
    right: 165px;
}

.avatar .inner-menu-div .radiology {
    position: relative;
    bottom: 540px;
    right: 55px;
}

.avatar .inner-menu-div .dentel-report {
    position: relative;
    bottom: 535px;
    right: 65px;
}

.avatar .inner-menu-div .special-report {
    position: relative;
    bottom: 550px;
    right: 15px;
}

.avatar .inner-menu-div .mediclaim-insurance {
    position: relative;
    bottom: 585px;
    right: 0px;
}

.avatar .inner-menu-div .opthalmology-icon {
    position: relative;
    bottom: 535px;
    right: 140px;
}

.avatar .inner-menu-div .immunization {
    position: relative;
    bottom: 530px;
    right: 10px;
}

.menu-circle-txt-color {
    color: #447df0;
    text-transform: uppercase;
    font-weight: 700;
}

.avatar .h-50 {
    height: 50%;
}

.avatar .menu-div .w-70 {
    width: 70%;
}

.avatar .border-bottom {
    border-bottom: 1px solid #ccc;
}

.avatar .w-100px {
    width: 100px;
}

.text-center {
    text-align: center;
}

.avatar .w-300 {
    width: 300px;
}

/* popover */
a {
    text-decoration: none;
}

.popover__wrapper {
    cursor: pointer;
    position: relative;
    top: 60%;
    left: 170px;
    width: 100px;
    /* margin-top: 1.5rem; */
    /* display: inline-block; */
}

.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -45px;
    transform: translate(0, 10px);
    background-color: #bfbfbf;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
    text-align: center;
}
.avatar .avatar-left-sec {
    width: 180px;
}
.avatar .avatar-left-sec ul{
    background: #eec93a14;
    border-radius: 5px;
    height: 100vh;
}
/* .avatar .inner-menu-div {
    background-image: url('../Avatar/circle-line.png');
    background-size: 200px;
    background-repeat: no-repeat;

  } */

  @media only screen and (max-width: 1366px) {
    .avatar .circle-line {
        height: 400px;
    }
    .avatar .inner-menu-div .lab-report {
        bottom: 430px;
        left: 110px;
    }
    .avatar .inner-menu-div .immunization {
        bottom: 465px;
        left: 20px;
    }
    .avatar .inner-menu-div .medication-prescription {
        bottom: 490px;
        right: 135px;
    }
    .avatar .inner-menu-div .radiology {
        bottom: 500px;
        right: 25px;
    }
    .avatar .inner-menu-div .opthalmology-icon {
        bottom: 505px;
        right: 105px;
    }
    .avatar .inner-menu-div .dentel-report {
        bottom: 515px;
        right: 35px;
    }
    .avatar .inner-menu-div .special-report {
        bottom: 530px;
        right: 0;
    }
    .avatar .inner-menu-div .special-report div:first-child {
        margin-left: 20px;
    }
    .avatar .inner-menu-div .mediclaim-insurance {
        bottom: 570px;
        right: 0;
    }
    .avatar .inner-menu-div .mediclaim-insurance div:first-child {
        margin-left: 35px;
    }
  }

@media only screen and (max-width: 912px) {
    .avatar .blue-t-bottom-right {
        position: absolute;
        left: 14%;
    }

    .avatar .blue-t-bottom-left {
        position: absolute;
        left: 70%;
    }
    .avatar .avatar-img {
        height: 300px;
    }
}

@media only screen and (max-width: 786px) {
    .avatar .blue-t-bottom-right {
        left: 14%;
    }

    .avatar .blue-t-bottom-left {
        left: 70%;
    }
    .avatar .avatar-img {
        height: 255px;
    }
}
@media only screen and (max-width: 550px) {
    .avatar .blue-t-bottom-right {
        position: relative;
        left: 14%;
    }

    .avatar .blue-t-bottom-left {
        position: relative;
        left: 20%;
    }
    .avatar .blue-t-top-left {
        height: 50px;
    }
    .avatar .blue-t-top-right {
        right: 25%;
        height: 65px;
    }
    .footer{
        position: relative;
    }
    .avatar .blue-t-bottom-left {
        bottom: -5px;
    }
    .avatar .blue-t-bottom-right {
        bottom: -5px;
    }
    .main-div {
        background-position: initial;
    }
    .avatar {
        background-position: center;
        background-size: contain;
    }
}

@media only screen and (max-width: 420px) {
    .blue-t-bottom-right {
        position: relative;
        left: 70px;
        height: 60px;
    }

    .blue-t-right {
        height: 170px;
    }

    .blue-t-bottom-left {
        bottom: 250px;
    }

    .avatar .blue-t-bottom-left {
        position: relative;
        bottom: -5px;
        height: 51px;
        right: 20%;
    }

    .avatar .blue-t-bottom-right {
        position: relative;
        left: 20%;
        bottom: -5px;
        height: 50px;
        z-index: -1;
    }

    .avatar .avatar-img {
        height: 290px;
    }

    .avatar .blue-t-top-left {
        position: absolute;
        top: 0;
        left: 20%;
        height: 50px;
        z-index: -2;
    }

    .avatar .blue-t-top-right {
        position: absolute;
        top: 0;
        right: 35%;
        height: 55px;
        z-index: -1;
    }

    .avatar .circle-line {
        height: 330px;
    }

    .popover__wrapper {
        top: 42%;
        left: 180px;
        width: 100px;
    }

    .avatar .inner-menu-div .menu-circle {
        height: 40px;
        width: 40px;
    }

    .avatar .inner-menu-div .mediclaim-insurance {
        bottom: 580px;
        right: 20px;
    }
    .avatar .inner-menu-div .mediclaim-insurance div:first-child {
        margin-left: 70px;
    }
    .avatar .inner-menu-div .dentel-report {
        bottom: 510px;
        right: 0px;
    }
    .avatar .inner-menu-div .dentel-report div:first-child {
        margin-left: 10px;
    }

    .avatar .inner-menu-div .special-report {
        bottom: 540px;
        right: 0px;
    }
    .avatar .inner-menu-div .special-report div:first-child {
        margin-left: 45px;
    }
    .avatar .inner-menu-div .lab-report {
        bottom: 365px;
        left: 110px;
    }
    .avatar .inner-menu-div .lab-report div:first-child {
        margin-left: 20px;
    }
    .avatar .inner-menu-div .medication-prescription {
        bottom: 445px;
        right: 70px;
    }
    .avatar .inner-menu-div .radiology {
        bottom: 470px;
    }
    .avatar .inner-menu-div .radiology div{
        margin-left: 35px;
    }
    .avatar .inner-menu-div .opthalmology-icon {
        bottom: 490px;
        right: 45px;
    }
    .avatar .inner-menu-div .immunization {
        bottom: 410px;
        left: 65px;
    }
    .avatar .plus-icon {
        top: 42%;
        margin-right: 40px;
        width: 50px;
    }
    .avatar .inner-menu-div .menu-circle:hover {
        height: 45px;
        width: 45px;
    }
    .footer {
        position: relative;
    }
    .avatar .inner-menu-div span {
        font-size: 14px;
    }
    .footer a {
        font-size: 10px;
    }
    .avatar .avatar-left-sec {
        width: 100px;
    }
    .avatar .avatar-left-sec ul{
       width: 100px;
       padding: 5px;
    }
    .avatar .inner-menu-div .menu-circle img {
        height: 25px;
    }
}

@media only screen and (max-width: 300px) {
    .avatar .blue-t-bottom-right {
        left: 20%;
    }
    .avatar ul {
        padding: 0;
    }
    .avatar .menu-circle-txt-color span {
        font-size: 10px;
    }
    .avatar .inner-menu-div .lab-report {
        left: 118px;
    }
    .avatar .inner-menu-div .lab-report div{
        justify-content: center;
    }
    .avatar .inner-menu-div .medication-prescription {
        right: 0;
    }
    .avatar .inner-menu-div .medication-prescription div:first-child{
        margin-left: 22px;
    }
    .avatar .inner-menu-div .radiology div:first-child {
        margin-left: 60px;
    }
    .avatar .inner-menu-div .dentel-report {
        right: 0;
    }
    .avatar .inner-menu-div .dentel-report div:first-child {
        margin-left: 30px;
    }
    .avatar .inner-menu-div .special-report {
        right: 0;
    }
    .avatar .inner-menu-div .special-report div:first-child{
        margin-left: 30px;
    }
    .avatar .inner-menu-div .mediclaim-insurance {
        right: 0;
    }
    .avatar .inner-menu-div .mediclaim-insurance div:first-child{
        margin-left: 15px;
    }
    .avatar .inner-menu-div .opthalmology-icon {
        right: 0;
    }
    .avatar .inner-menu-div .opthalmology-icon div:first-child{
        margin-left: 60px;
    }
    .avatar .inner-menu-div .immunization div:first-child{
        margin-left: 55px;
    }
    .avatar .blue-t-bottom-left {
        left: 0;
    }
    .footer {
        position: relative;
    }
}