<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime requestPathInvalidCharacters="" targetFramework="4.7.2" maxRequestLength="1048576" executionTimeout="3600" />
		<!-- 1GB, for example -->
		<!--<customErrors mode="off" />-->
		<!--<customErrors mode="RemoteOnly" />-->
		<!--<customErrors mode="On" defaultRedirect="Error.aspx">
			<error statusCode="404" redirect="Error.aspx"/>
		</customErrors>-->
		<pages>
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		
		<rewrite>
			<rules>
				<rule name="Remove .aspx from URL" stopProcessing="true">
					<match url="^(.*)\.aspx$" />
					<action type="Redirect" url="{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite without .aspx" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:1}.aspx" />
				</rule>
			</rules>
		</rewrite>
		
		<security>
			<requestFiltering>
				<!-- Max allowed content length (in bytes) -->
				<requestLimits maxAllowedContentLength="1073741824" />
				<!-- 1 GB -->
			</requestFiltering>
		</security>
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647" />
				<!-- Set to a very high value, like 2GB -->
			</webServices>
		</scripting>
	</system.web.extensions>
	<connectionStrings>
		<!--Production-->
		<!--<add name="signage" connectionString="Data Source=68.178.164.174;port=3306;Initial Catalog=db_hfiles;User Id=bt_admin;password=bt@#19;SslMode=none" />-->

		<!--Test Environment-->
		<add name="signage" connectionString="Data Source=68.178.164.174;port=3306;Initial Catalog=uat_user;User Id=bt_admin;password=bt@#19;SslMode=none" />
	</connectionStrings>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="productImageUrl" value="upload/product/" />
		<!--<add key="careermailUserId" value="no-reply@hfiles.in" />
		<add key="careermailPassword" value="sdxkafnkelkaatti" />-->

		<add key="careermailUserId" value="Hfiles.in@gmail.com" />
		<add key="careermailPassword" value="qpjdigykglmnuxlt
" />
		<add key="mailServer" value="smtp.gmail.com" />
		<add key="mailPort" value="465" />
		<add key="IsDevelopment" value="Y" />
		<add key="StorageLimit" value="100" /> <!--in MB-->
		<add key="siteurl" value="https://hfiles.in/" />
		<add key="customerServiceMobile" value="+91 9978043453" />

		<add key="interaktApiurl" value="https://api.interakt.ai/v1/public/message/" />
		<add key="interaktApiKey" value="eTdRNks5eUZlenhXRjFYOF9uanF1WF80djNHVTlNeVNMdzhzU0NBMkpYWTo=" />

		<!--<add key="feedbackmail" value="chirag@gradienteye.com"/>-->
		
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.33.0" newVersion="8.0.33.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Kiota.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.15.2.0" newVersion="1.15.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v15.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>